<h1>Items</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
    <tr>
    <% items.each do |item| %>
    <tr>
        <td><%= item.name %></td>
        <td><%= item.price %></td>
        <td><a href="/item/show?id=<%=item.id%>" style="text-decoration:none; color:blue">Show</a></td>
        <td><a href="/item/edit?id=<%=item.id%>" style="text-decoration:none; color:green">Edit</a></td>
        <td><button type="button" onclick="alert('Are you sure to delete this item?'); window.location.href = '/item/delete?id=<%=item.id%>';" style="color:red; cursor:pointer;">Delete</button></td>
    <tr>
    <% end %>
</table>

<a href="/item/create">Create Item </a>